/* LOCATION */

.location {
    display: flex;
    justify-content: center;
    padding: 1.1rem;
    background-color: rgb(230, 230, 230);
    i {
        margin-right: 1rem;
    }
    span {
        font-weight: 700;
    }
}


/* INTRODUCTION */

.introduction {
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    padding-bottom: 4rem;
    h2 {
        margin: 0;
        padding: 0 2rem;
    }
    p {
        font-weight: 300;
        font-size: 1.1rem;
        padding-bottom: 1.5rem;
    }
}


/* OPERATION */

.operation {
    padding: 2rem;
    padding-bottom: 4rem;
    .operation-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    ol {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        counter-reset: counterList;
    }
    li {
        padding: 1.5rem;
        margin: 1rem 0 1.5rem 0.75rem;
        border-radius: 1.25rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
        background-color: rgb(248, 248, 248);
        display: flex;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            counter-increment: counterList 1;
            content: counter(counterList);
            background: $color-primary;
            border-radius: 100px;
            height: 1.5rem;
            width: 1.5rem;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 2rem;
        }
    }
    i {
        margin: 0 1.5rem 0 0.5rem;
        color: rgb(99, 99, 99);
        font-size: 1.1rem;
    }
    span {
        font-weight: 500;
    }
}


/* RESTAURANTS */

.restaurants {
    padding: 2rem;
    background-color: whitesmoke;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 1rem;
    box-shadow: 3px 3px 12px 0px rgba(209, 209, 209, 1);
    img {
        height: 10rem;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    .wignet-new {
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40%);
        padding: .5rem;
        border-radius: .2rem;
        position: absolute;
        top: 1rem;
        right: .75rem;
        font-weight: 600;
        font-size: .95rem;
    }
    .bottom-menu {
        padding: 1rem;
        display: flex;
        align-items: center;
    }
    .menu-content {
        flex: 1;
    }
    h3 {
        color: #000;
        margin: 0 0 .25rem 0;
    }
    span {
        color: #000;
        font-size: 1.125rem;
        font-weight: 300;
    }
    .menu-favorite {
        height: 1rem;
        width: 1rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}