/* Header */

header {
    i {
        position: absolute;
        left: 1.5rem;
        height: 1rem;
        width: 2rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.3rem;
        color: #000;
    }
}


/* Background image */

.bg-image {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    .image-bg {
        width: 100%;
        height: auto;
    }
}


/* Menu - Introduction */

.menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: rgb(238, 238, 238);
    position: relative;
    &__top {
        padding: .5rem 2rem 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -10rem;
        h2 {
            font-family: 'Shrikhand', cursive;
            font-size: 1.7rem;
        }
        i {
            margin-right: 2rem;
        }
    }
    .menu-favorite {
        height: 1rem;
        width: 1rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-empty {
        display: initial;
        font-size: 1.6rem;
        color: #000;
        font-weight: 300;
        cursor: pointer;
    }
    .icon-fill {
        display: none;
    }
}


/* Menu content */

.menus-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Menus */
    .menus {
        margin-top: 2rem;
        max-width: 100%;
        overflow: hidden;
        padding: 0 1rem;
        animation-name: apparition;
        &:first-child {
            margin: 0;
            animation-duration: 2s;
        }
        &:nth-child(2) {
            margin: 0;
            animation-duration: 3s;
        }
        &:last-child {
            margin: 0;
            animation-duration: 4s;
        }
        &__title {
            position: relative;
            text-transform: uppercase;
            padding-bottom: .5rem;
            font-weight: 400;
            &::after {
                content: "";
                width: 3rem;
                height: .2rem;
                background-color: $color-tertiary;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: .5s;
            }
        }
    }
    /* Choice menu */
    .choice-menu {
        background-color: #fff;
        padding: 1rem;
        display: flex;
        margin: 1rem 0;
        border-radius: .75rem;
        overflow: hidden;
        box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, .1);
        width: 19.5rem;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
        &__top {
            overflow: hidden;
            flex: 1;
        }
        &__title {
            margin: 0;
            overflow: hidden;
            font-size: 1.1rem;
            padding-bottom: .25rem;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__description {
            margin: 0;
            font-size: .9rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__price {
            font-weight: 600;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
        &__okay {
            background-color: $color-tertiary;
            margin: -1rem -5rem -1rem 1rem;
            width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .5s;
        }
        &:hover .choice-menu__okay {
            margin-right: -1rem;
        }
        &__icon {
            height: 1.6rem;
            width: 1.3rem;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
        }
        &:hover .choice-menu__icon {
            animation-duration: .8s;
            animation-name: rotation;
        }
        &__icons {
            color: $color-tertiary;
        }
    }
}


/* Command button */

.command-btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 3rem 0;
    .btn {
        width: 12rem;
        height: 3rem;
    }
}


/* SEMI DESKTOP VERSION */

@media all and (min-width: 752px) {
    .menu-content {
        .menus {
            margin: 0;
        }
        &__title {
            text-align: center;
        }
    }
}