/* General */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}



/* Colors */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;



/* Titles */
.title {
    color: #000;
    font-weight: 700;
}
.title-main {
    @extend .title;
    font-family: 'Shrikhand', cursive;
}