/* General */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


/* Colors */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient-color: rgb(171, 94, 220) linear-gradient(0deg, rgba(171, 94, 220, 1) 0%, rgba(223, 111, 218, 1) 58%);

/* Utils */

.center {
    text-align: center;
}


/* Titles */

.title {
    color: #000;
    font-weight: 700;
    &__main {
        font-family: 'Shrikhand', cursive;
    }
}


/* Buttons */

.btn {
    color: #fff;
    padding: 0.75rem 1rem;
    background: $gradient-color;
    font-weight: 400;
    border: 0;
    font-size: 1.1rem;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
    &:hover {
        filter: brightness(110%);
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    }
    a {
        text-decoration: none;
    }
}


/* HEADER */

header {
    padding: 0.8rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;
    h1 {
        margin: 0;
    }
}